/**********************************
 Practica 0207
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/*********************
  CONTENIDOS

  $Reset
  $Elementos
***********************/

/*---------------
  $RESET
-----------------*/

* { margin: 0px; padding: 0px }


.menu--barra-principal--entrada {
    position:    relative;
    list-style:  none;
    
    display:     inline-block;
    padding:     20px 0px;
    margin:      0px 80px;
}

/*---------------
  $ELEMENTOS
-----------------*/

.submenu
{
    position:   absolute;

    z-index:    2;     /* en el caso que el submenú se solape con otros elementos quede por encima de ellos */
    list-style: none;
    
    /* El ancho que le pondremos dependerá de lo que contengan los submenús. Lo que pongamos en la propiedad margin-left será la mitad de lo que hayamos puesto aquí */
    width:      100px;
    text-align: center;
    
/* Para centrar el submenú con respecto a la opción de menú, pondremos su parte izquierda en la mitad del ancho y le restaremos a los márgenes la mitad del ancho que hayamos puesto anteriormente */
    left:        50%;
    margin-left: -50px;
    
/* el valor de la propiedad top dependerá de lo que contengan las opciones de menú principales, pondremos un valor adecuado para que el submenú se muestre debajo. */
    top:25px;
  
    font-family: "Arial", sans-serif;
    font-size:   0.7rem;
    
    /* submenú quede oculto. Animaremos la propiedad height */
    height:0px;
    overflow:hidden;
    
    transition:height 0.4s linear;
}

.submenu--entrada
{
    background-color: #313131; 
}

.submenu--entrada:nth-child(odd) 
{ 
    background-color: #464646; 
} 

.submenu--entrada:hover 
{ 
    background-color: #444; 
}

/* cuando pasemos por li, cambiamos las propiedades de ul */
.menu li:hover ul 
{
    height:200px; 
}

/* con esto redondearemos las esquinas del submenú, además de colocarlo debajo de la opción de menú correspondiente */
.submenu--entrada:first-child 
{ 
    border-radius:  3px 3px 0 0;
   
    /* Lo que pongamos como margen superior, deberá coincidir con lo que hemos puesto en el top del ul */
    margin-top:     25px;
    
    /* indicamos posición relativa para poder introducir luego el triángulo del menú desplegable con posición absoluta */
    position:       relative;
}

.submenu--entrada:last-child {
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

/* Triangulo en la parte superior */
.submenu--entrada:first-child:before {
    content:'';
    position:absolute;
    
    width:1px;

    height:1px;
    border:5px solid transparent;
    border-bottom-color: #313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
}

/* Aquí configuraremos la visualización de los enlaces del menú desplegable */
.submenu--entrada a
{
    padding:12px;
    color:#fff;
    text-decoration:none;
    display:block;
}